
<div class="user-profile">
    <div class="profile row">
        <div class="col-md-4 avatar">
            <div class="wrapper">
        <img src="https://cdn1.iconfinder.com/data/icons/social-signature/512/Instagram_Color-512.png">
            </div>
        </div> 

    <div class="col-md-8 basic-info">
        <div class="user-wrapper">
            <h2 class="username">instagram</h2>
                <a class="edit-profile">
                    <button> Edit Profile </button>
                </a>
        </div>
        <ul class="posts">
            <li>
                <span> 6,022 </span>
                Posts
            </li>
            <li>
                <span> 312 M </span>
                Followers
            </li>
            <li class="nav-item">
                <span> 234 </span>
                Following
            </li>
        </ul>
        <h2 class="name"> Instagram </h2>
        <a class="website"> instagram.com </a>
    <!-- RIGHT BASIC INFORMATION HERE  -->
         </div>
    </div>
</div>